@{
	Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Routing</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>

	<div class="container">

		<br />
		<br />
		
	</div>

</body>

</html>